In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/chadwickbureau/baseballdatabank/master/core/AllstarFull.csv')

In [ ]:
df.info()

In [ ]:
folder_list = ['core', 'contrib', 'upstream']

In [ ]:
folder_list = ['core', 'contrib', 'upstream']
folder_elements_dict = {}

for f in folder_list:
    res = requests.get(f"https://github.com/chadwickbureau/baseballdatabank/tree/master/{f}")
    soup = bs(res.text, 'lxml')
    file = soup.find_all('a',class_="js-navigation-open")
    file_list = []

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
l = []
res = requests.get("https://github.com/chadwickbureau/baseballdatabank/tree/master")    
soup = bs(res.text, 'lxml')   
file = soup.find_all('a',class_="js-navigation-open")
for i in file:
    if '.' in i.text:
        pass
    elif '\n' in i.text:
        pass
    else:
        print(i.text)

In [ ]:
from bs4 import BeautifulSoup as bs
import requests


res = requests.get("https://github.com/chadwickbureau/baseballdatabank/tree/master")    
soup = bs(res.text, 'lxml')   
file = soup.find_all('a',class_="js-navigation-open")

substring_list = ['.', '\n']

for i in file:
    if not any(substring in i.text for substring in substring_list):
        print(i.text)

In [ ]:
from bs4 import BeautifulSoup as bs
import requests

lahman_master = "https://github.com/chadwickbureau/baseballdatabank/tree/master"

res = requests.get(lahman_master)    
soup = bs(res.text, 'lxml')   
file = soup.find_all('a',class_="js-navigation-open")

substring_ignore_list = ['.', '\n']
lahman_folders_list = []

for i in file:
    if not any(substring in i.text for substring in substring_ignore_list):
        lahman_folders_list.append(i.text)
        
print(lahman_folders_list)

In [ ]:
lahman_folder_element_dict = {}

for folder in lahman_folders_list:
    res = requests.get(lahman_master+'/'+folder)
    soup = bs(res.text, 'lxml')
    file = soup.find_all('a',class_="js-navigation-open")
    folder_files = []
    for i in file:
        if '.csv' in i.text:
            folder_files.append(i.text)
    lahman_folder_element_dict[folder] = folder_files

print(lahman_folder_element_dict)

In [1]:
from lahman_class import Lahman

In [2]:
lahman = Lahman()

In [3]:
directories = lahman.get_directories()
directories

['contrib', 'core', 'upstream']

In [4]:
files = lahman.get_filenames_in_directories()
for k, v in files.items():
    print(k)
    print(v)
    print('\n')

core
['AllstarFull', 'Appearances', 'Batting', 'BattingPost', 'Fielding', 'FieldingOF', 'FieldingOFsplit', 'FieldingPost', 'HomeGames', 'Managers', 'ManagersHalf', 'Parks', 'People', 'Pitching', 'PitchingPost', 'SeriesPost', 'Teams', 'TeamsFranchises', 'TeamsHalf']

In [6]:
dfs = lahman.get_tables_from_dir(['Batting', 'People'])

In [7]:
for k, v in dfs.items():
    print(k)

Batting
People

In [8]:
dfs['Batting'].head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0